$light-pink: #ffadadff;
$deep-champagne: #ffd6a5ff;
$lemon-yellow-crayola: #fdffb6ff;
$tea-green: #caffbf;
$celeste: #9bf6ffff;
$baby-blue-eyes: #a0c4ffff;
$maximum-blue-purple: #bdb2ffff;
$mauve: #ffc6ffff;
$baby-powder: #fffffcff;

$main-color: $deep-champagne;
$accent-color: $celeste;
$background-color: $baby-powder;
$light-color: $lemon-yellow-crayola;
$delete-button-color: $light-pink;
$dark-accent-color: $baby-blue-eyes;
$darkest-accent-color: $maximum-blue-purple;
$green-accent-color: $tea-green;
$pink-accent-color: $mauve;

@mixin flex-direction-align-justify($dir, $align, $justify) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}
@mixin flex-direction-align($dir, $align) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
}
@mixin flex-direction-justify($dir, $justify) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
}
@mixin flex-direction($dir) {
  display: flex;
  flex-direction: $dir;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  text-decoration: none;
}

.board-display {
  background-color: $background-color;
  height: 100vh;
  overflow: auto;
}

.dnd-board {
  @include flex-direction(row);
  flex-grow: 1;
}

.dnd-list {
  @include flex-direction(column);
  position: relative;
  margin: 5px 20px;
  background-color: $main-color;
  width: 220px;
  border-radius: 5px;
  padding: 17px 10px 10px 10px;
  height: min-content;
  overflow: hidden;

  &:before {
    content: '';
    width: 40px;
    height: 40px;
    background: var(--bg-color);
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    left: -20px;
  }

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: $main-color;
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    left: -10px;
  }
}

.dnd-card-container {
  padding: 5px 0px;
}

.dnd-card {
  position: relative;
  cursor: grab;
  background-color: $main-color;
  border-radius: 2.5px;
  border: 1px dashed black;
}

.dnd-card-big {
  @extend .dnd-card;
  min-height: 90px;
  padding: 7px 12px;
}

.dnd-card-small {
  @extend .dnd-card;
  min-height: 50px;
  padding: 5px 12px;
}

.dnd-card-big.drag-enter-top,
.dnd-card-small.drag-enter-top,
.add-card.drag-enter-top {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: -4px;
    left: 0;
    border-bottom: 4px solid $dark-accent-color;
  }
}

textarea {
  resize: none;
  padding: 5px 10px;
  background-color: $background-color;
}

select {
  background-color: $accent-color;
  width: 75px;
}

button {
  cursor: pointer;
}

.add-card *,
.add-card-list * {
  display: block;
}

.card-list-title {
  color: black;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 2px;
  word-wrap: break-word;
}

.card-title {
  font-size: 19px;
  margin-bottom: 1px;
  font-weight: 550;
  flex-grow: 1;
}

.card-description {
  font-size: 12px;
}

.add-card-button {
  background: $accent-color;
  color: black;
  padding: 3px 12px;
  border: 0px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px dashed black;
}

.add-card-textarea {
  margin-top: 7px;
  border-radius: 5px;
}

.add-card-colors {
  @include flex-direction(row);
  flex-wrap: wrap;

  div > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.add-card-colors-square {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 7px;
  border: 1px dotted black;
}

.card-heading {
  @include flex-direction-align(row, center);
}

.card-deadline {
  font-size: 10px;
  font-style: italic;
}

.card-priority {
  font-size: 10px;
  background-color: $accent-color;
  color: black;
  padding: 2px 5px;
  margin-left: 8px;
  border: 1px dashed black;
}

.top-panel {
  @include flex-direction-justify(row, space-between);
  background-color: $background-color;
}

.button-dashboard {
  padding: 5px 10px;
  margin: 5px 5px;
  background-color: $accent-color;
  border-radius: 5px;
  color: black;
  border: 1px dashed black;
  font-weight: bold;
  text-decoration: none;
}

.top-panel-right {
  @include flex-direction-justify(row, flex-end);
  background-color: $background-color;
  color: black;
  font-size: 10px;
  padding: 5px 10px;

  .button-dashboard {
    font-size: 18px;
  }
}

.top-panel-right select {
  height: 100%;
  border-radius: 3px;
  border: 1px dashed black;
}

.slider {
  -webkit-appearance: none;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  background: lightgrey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $accent-color;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $accent-color;
  cursor: pointer;
}

.option-section {
  /* margin: 5px 15px; */
  @include flex-direction-align(row, center);
}

.option-section form {
  @include flex-direction(row);
}

.top-panel-right-title {
  margin: 0px 6px 0 12px;
  font-size: 16px;
}

input[type='radio'] {
  margin: 0px;
}

input[type='radio'] + label {
  margin-right: 5px;
}

input[type='range'] {
  margin-top: 5px;
}

html.darken-page {
  background-color: black;
}

html.darken-page #visible-content {
  opacity: 0.5;
}

#visible-content {
  @include flex-direction(column);
  background-color: $background-color;
  height: 100%;
}

#card-detail-background {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

.card-detail-inline {
  @include flex-direction-align(row, center);
  width: 100%;
}

.card-detail-inline span {
  flex-grow: 1;
  text-align: left;
}

#card-detail input {
  padding: 5px 10px;
  width: 100%;
}

.card-detail-title {
  font-size: 23px;
  margin-top: 5px;
  text-transform: capitalize;
}

#card-detail button,
#card-detail input[type='submit'] {
  padding: 5px 25px;
  color: black;
  border-radius: 5px;
  width: auto;
  font-size: 12px;
  height: min-content;
  border: 1px dashed black;
}

#card-detail {
  @include flex-direction(column);
  position: fixed;
  left: 50%;
  top: 30%;
  text-align: left;
  transform: translate(-50%, -30%);
  border-radius: 25px;
  background-color: $main-color;
  padding: 40px 60px;
}

.delete-button {
  background-color: $delete-button-color;
}

.cancel-button {
  background-color: lightgray;
}

#card-detail .save-button {
  background-color: $accent-color;
  color: black;
}

#card-detail-container {
  @include flex-direction-align(column, flex-start);
  margin: auto;
}

#card-detail textarea,
#card-detail input {
  background-color: $background-color;
  border-radius: 3px;
}

.dnd-board-item {
  @include flex-direction-align-justify(column, center, center);
  background-color: $main-color;
  width: 300px;
  height: 200px;
  text-align: center;
  margin: 10px;
  padding: 20px;
  position: relative;
  text-decoration: none;
  border-radius: 10px;
}

.board-remove {
  position: absolute;
  right: 10px;
  top: 7px;
  color: black;
  font-size: 12px;
  background: $delete-button-color;
  padding: 3px 7px;
  border-radius: 5px;
  border: 0.5px solid black;
}

.board-favourite {
  position: absolute;
  font-size: 25px;
  line-height: 25px;
  left: 15px;
  top: 10px;
  -webkit-text-stroke: 1px black;
}

.board-favourite-active {
  @extend .board-favourite;
  color: $accent-color;
}

.board-favourite-inactive {
  @extend .board-favourite;
  color: $main-color;
}

.dashboard-board-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-items: center;
  background-color: $background-color;
  padding: 100px 80px 60px 80px;
}

.board-title {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

html,
body,
#root {
  height: 100%;
}

.dnd-dashboard {
  background-color: $background-color;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

.add-board-textarea {
  background-color: $background-color;
  width: 200px;
  height: 100px;
  border-radius: 3px;
  font-size: 30px;
  color: black;
}

.add-board-button {
  padding: 5px 10px;
  background-color: $accent-color;
  color: black;
  border: 1px dashed black;
  margin-top: 7px;
  border-radius: 3px;
}

.dnd-board-item form {
  background-color: $main-color;
  width: 250px;
  height: 166px;
  padding-top: 15px;
  padding-bottom: 12px;
  border-radius: 10px;
}

.add-card {
  position: relative;
}

.add-card textarea,
.add-card-list textarea {
  font-size: 19px;
  width: 100%;
  height: 45px;
}

.login-page {
  @include flex-direction-align-justify(column, center, center);
  background-color: $main-color;
  min-height: 100%;
}

.login-container {
  @include flex-direction-align(column, center);
  background-color: $light-color;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 10%;
  position: relative;

  h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 5px;
  }

  .login-swap-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: $main-color;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px dashed black;
    font-size: 12px;
  }

  .login-action-button {
    padding: 5px 20px;
    background-color: $accent-color;
    color: black;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: 25px;
    border: 1px dashed black;
  }

  span {
    flex-basis: 0;
  }
}

.login-page-area {
  font-size: 18px;
  @include flex-direction-align(column, flex-start);
  margin-top: 15px;

  span {
    color: black;
    margin-bottom: 5px;
  }

  input {
    padding-bottom: 5px;
    min-width: 250px;
    border-bottom: 1px solid black;
    font-size: 15px;
    font-style: italic;
  }
}

.status-text-failure {
  margin-top: 10px;
  color: red;
}

.spinner-container {
  position: fixed;
  @include flex-direction-align-justify(column, center, center);
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.spinner {
  display: block;
  width: 100px;
  height: 100px;
  border: 20px solid lighten(lightgray, 10);
  border-top: 20px solid darken(lightgray, 30);
  border-radius: 100%;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.spinner-text {
  margin-top: 20px;
  font-size: 30px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error-page-container {
  @include flex-direction-align-justify(column, center, center);
  height: 100%;
  background-color: $main-color;

  h1 {
    font-size: 40px;
    margin-top: -200px;
    margin-bottom: 20px;
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
  }

  h3 {
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;

    a {
      padding: 5px 10px;
      border-radius: 10px;
      line-height: 30px;
      background-color: $accent-color;
      color: black;
      border: 1px dashed black;
    }
  }

  .error-page-rainbow {
    font-size: 40px;
    display: inline-block;
  }

  .error-page-rainbow-rotated {
    @extend .error-page-rainbow;
    transform: scaleX(-1);
  }
}

.kanban-table {
  font-family: arial, sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 2px solid black;

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: $background-color;
    }
    tr:nth-child(even) {
      background-color: $main-color;
    }
  }

  thead tr, tfoot tr{
    background-color: darken(#dddddd, 40);
    color: white;

    input {
      background-color: white;
    }
  }
}

.kanban-footer {
  @include flex-direction-justify(row, space-between);
}

.toggle-button {
  font-size: 20px;
  background: $accent-color;
  border-radius: 5px;

  button {
    padding: 3px 7px;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;

    }
  }

  .active {
    background-color: $dark-accent-color;
    border: 1px dashed black;
  }
}

.number-input {
  @include flex-direction-align(row, center);
  padding-left: 5px;
  background: $background-color;

  input {
    width: 40px;
  }
}

.number-input-buttons {

  button {
    font-size: 12px;
    border: 0;
    display: block;
    padding: 2px 3px;
  }
}

.number-input-arrow-up {
  transform: rotate(90deg);
}

.number-input-arrow-down {
  transform: rotate(90deg);
}